/*.page-header.navbar .page-logo {
    background: #ffffff !important;
}
.page-header.navbar .page-top {
    background: #ffffff !important;
}
.vminv {

    background: #c52fc3;
   
}
.page-sidebar .page-sidebar-menu > li > a > .title, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .title {

    font-size: 20px;
color:#ffffff;
}*/


.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}

.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;


}

.box_1{
	margin:10px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:30px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3{

margin:20px 0px 10px 0px;
  height: 330px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_4{
	margin:35px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
	background:#ec008c;;
  color: #fff;
 padding:7px 5px 7px 5px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
  width: 20%;
  margin: -10px 0px -10px 0px;
}
.user_2{
  background: #ec008c;
  color: #fff;
    padding: 6px 0px 6px 0px;
  font-size:12px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width:60%;
  
  margin: -10px 0px -10px 0px;
}
.form-group{
	padding:50px 0px 0px 0px;
	
}

.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group button{
	  font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 13px;
  font-family: arial;
  padding: 15px 10px 15px 10px;
}
.info_1{
  border-bottom:3px solid #ccc;
 border-radius: 5px;
 margin-bottom:10px;

}

.footerBottom{position: absolute;
  position:absolute !important;
  text-align:center !important;
  bottom:0;
  margin:0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
display: table-caption;
}
.footer p{
  color: black;
  margin: 15px;
}
@media (min-width:320px) and (max-width:767px) {
.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 13px;
  font-family: arial;
  padding: 15px 10px 15px 10px;
}
.info_1{
  border-bottom:3px solid #ccc;
}
.header{
 
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:120%;
}
.header1{
 
  height:auto;
  float: left;
  background-color:#eaeaea!important;


}
.box_1{
	margin:20px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:30px 0px 30px 0px;
  height:315px;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_3{
margin:40px 0px 10px 0px;
  height:600px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:30px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
  background: #ec008c;
  color: #fff;
   padding:7px 5px 7px 5px;
  font-size:12px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width: 90%;
  
  margin: -25px 0px -25px 0px;
}
.user_2{
  background: #ec008c;
  color: #fff;
   padding: 6px 0px 6px 0px;
  font-size:12px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
   width: 60%;

  margin: -5px 0px -5px 0px;
}
.form-group{
	padding:20px 0px 0px 0px;
	
}
.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group button{
  font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   color: #fff;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  
  

}
.footerBottom{    bottom: 0;
  position:absolute !important;
  text-align:center !important;
  bottom:0;
  margin:0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
display: table-caption;
}


}
@media (min-width:414px) and (max-width:736px) {
.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 13px;
  font-family: arial;
  padding: 15px 10px 15px 10px;
}
.info_1{
  border-radius: 5px;
  margin-bottom:10px;
  border-bottom:3px solid #ccc;
}
.header{
 
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:120%;
}
.header1{
 
  height:auto;
  float: left;
  background-color:#eaeaea!important;


}
.box_1{
  margin:20px 0px 10px 0px;
  
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
  margin:30px 0px 30px 0px;
  height: 300px;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_3{
margin:20px 0px 10px 0px;
  height:760px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
  margin:30px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
  background: #ec008c;
  color: #fff;
   padding:7px 5px 7px 5px;
  font-size:12px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width: 80%;
  
  margin: -10px 0px -10px 0px;
}
.user_2{
  background: #ec008c;
  color: #fff;
     padding: 6px 0px 6px 0px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
   width: 60%;

  margin: -10px 0px -10px 0px;
}
.form-group{
  padding:30px 0px 0px 0px;
  
}
.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group button{
   font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   color: #fff;
  border-radius: 10px !important;
  margin: 4px 2px;
  cursor: pointer;
  
  

}


}
@media (min-width:768px) and (max-width:1024px) {
.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 11px;
  font-family: arial;
  padding: 10px 10px 10px 10px;
}
.info_1{
  border-radius: 5px;
  margin-bottom:10px;
  border-bottom:3px solid #ccc;
}
.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;


}
.box_1{
	margin:10px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:20px 14px 10px 14px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_3{
margin:30px 0px 30px 0px;
  height: 230px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:20px 15px 10px 15px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
  background: #ec008c;;
  color: #fff;
 padding:7px 5px 7px 5px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
  width: 60%;
  margin: -10px 0px -10px 0px;
}
.user_2{
  background:#ec008c;;
  color: #fff;
  padding: 6px 0px 6px 0px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width: 65%;
  
  margin: -10px 0px -10px 0px;
}
.input-group{
  width: 100%;
}
.form-group{
	padding:20px 0px 0px 0px;
	 
}
.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group button{
	  font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   color: #fff;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  
  

}
.footerBottom{    margin: 0 auto !important;
  position:absolute !important;
  text-align:center !important;
  bottom:0;
  margin:0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
display: table-caption;
}

}
@media (min-width:800px) and (max-width:1080px) {
.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 11px;
  font-family: arial;
  padding: 15px 10px 15px 10px;
}
.info_1{
  border-radius: 5px;
  margin-bottom:10px;
  border-bottom:3px solid #ccc;
}
.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;


}
.box_1{
  margin:10px 0px 10px 0px;
  
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
  margin:30px 15px 30px 15px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_3{
margin:20px 0px 10px 0px;
  height:240px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
  margin:30px 15px 30px 15px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
  background: #ec008c;;
  color: #fff;
 padding:7px 5px 7px 5px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
  width: 50%;
  margin: -10px 0px -10px 0px;
}
.user_2{
  background:#ec008c;;
  color: #fff;
    padding: 6px 0px 6px 0px;
  font-size:12px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width: 60%;
  
  margin: -10px 0px -10px 0px;
}
.form-group{
  padding:20px 0px 0px 0px;
  
}
.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group button{
   font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   color: #fff;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  
  

}
.footerBottom{    text-align: center !important;
  position:absolute !important;
  text-align:center !important;
  bottom:0;
  margin:0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
display: table-caption;
}

}
@media (min-width:1262px) and (max-width:1424px) {
.info img{
  width: 100%;
}
.info h4{
  color: grey;
  font-size: 11px;
  font-family: arial;
  padding: 15px 10px 15px 10px;
}
.info_1{
  border-radius: 5px;
  margin-bottom:10px;
  border-bottom:3px solid #ccc;
}
.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
	width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;


}
.box_1{
	margin:10px 0px 10px 0px;
	
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
	margin:30px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
 
}
.box_3{
margin:30px 0px 30px 0px;
  height: 330px;
  border-radius: 50px !important;
  background: #fff;
  
}
.box_2 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_3 h3{

font-weight: 800;
  text-align: center;
  font-size: 26px;
  color: #09d96b;
}
.box_4{
	margin:30px 0px 30px 0px;
  height: auto;
  border-radius: 50px !important;
  background: #fff;
  
}
.user{
  background: #ec008c;;
  color: #fff;
 padding:7px 5px 7px 5px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
  width: 30%;
  margin: -10px 0px -10px 0px;
}
.user_2{
  background: #ec008c;;
  color: #fff;
   padding: 6px 0px 6px 0px;
  font-size:16px;
  box-shadow:1px 1px 1px 1px grey;
  font-weight: 600;
    width: 60%;
  
  margin: -10px 0px -10px 0px;
}
.form-group h6{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
  display: ruby-text-container;
}
.form-group{
    padding:50px 0px 0px 0px;
  
}
.form-group button{
	  font-size:12px;
  font-weight:600;
  background:#ec008c;
  padding:5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   color: #fff;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  
  


}
.footerBottom {    width: 100% !important;
  position:absolute !important;
  text-align:center !important;
  bottom:0;
  margin:0;
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
display: table-caption;
}

}