.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
overflow: hidden;
}

.header1{
  width: 100%;
  height:auto;

  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;
overflow: hidden;
}
.box_1{
  margin-top: 3.5%;
  margin-right:7.6%;
  margin-left:7.6%;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 0.5% 0% 0.5% 0%;
}
.box_2{
margin:2% 0% -2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}

.box_3{
margin:-2% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.box_4{
  margin:2% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 60%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 60%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}

.progress_button{
  padding:15% 0% 15% 0%;
}
.progress_button h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button button{
  color:#fff;
  font-size:14px;
 
  background:#9f17f6;
  border-radius:10px;
  padding: 5% 15% 5% 15%;
}
.progress_button_1{
  padding:15% 0% 15% 0%;
}
.progress_button_1 h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button_1 button{
  color:#fff;
  font-size:14px;
  background:#9f17f6;
  border-radius:10px;
  padding:5% 15% 5% 15%;
}
.form-group{
  padding:63% 0% 63% 0%;
  
}
 .form-group h4{
  font-size: 12px;
  font-family: arial;
  font-weight: 600;
 
}
 .form-group button{
  color:#fff;
  font-size:15px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 13% 2% 13%
}


.heading{
  margin: 5% 0% 5% 0%; 
}
.heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
@media (min-width:320px) and (max-width:767px) {

.header{
 
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 0.5% 0% 0.5% 0%;
}
.header1{
 
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
   margin:5% 0% -3% 0%;
  height: 250px;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-10% 0% 1% 0%;
  height:275px;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:5% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 98%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:1% 0% 1% 0%;
}
.progress_button h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button button{
  color:#fff;
  font-size:14px;
 
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}
.progress_button_1{
  padding:1% 0% 1% 0%;
}
.progress_button_1 h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button_1 button{
  color:#fff;
  font-size:14px;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}
.form-group{
  padding:7% 0% 7% 0%;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}

    .heading{
  margin: 5% 0% 5% 0%; 
}        
 .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}
@media (min-width:580px) and (max-width:767px) {
  .header{
 
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 2.5% 0% 0.5% 0%;
}
.header1{
 
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
   margin:5% 0% -3% 0%;
  height: 250px;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-7% 0% 1% 0%;
  height:275px;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:10% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 98%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:1% 0% 1% 0%;
}
.progress_button h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button button{
  color:#fff;
  font-size:14px;
 
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}
.progress_button_1{
  padding:1% 0% 1% 0%;
}
.progress_button_1 h4{
  font-size:14px;
  font-family: arial;
 text-align: center;
  color: grey;
 
}
.progress_button_1 button{
  color:#fff;
  font-size:14px;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}
.form-group{
  padding:27% 0% 27% 0%;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}

    .heading{
  margin: 5% 0% 5% 0%; 
}        
 .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}
@media (min-width:768px) and (max-width:1024px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 0.5% 0% 0.5% 0%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  width: 100%;
  height:320px;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
}
.box_2{
  margin:2% 0% -2% 0%
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-2% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:66% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:15% 0% 8% 0%;
}
.progress_button h4{
  font-size:12px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button button{
  color:#fff;
  font-size:10px;
 
  background:#9f17f6;
  border-radius:10px;
  padding:10% 20% 10% 20%;
}
.progress_button_1{
  padding:5% 0% 5% 0%;
}
.progress_button_1 h4{
  font-size:12px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button_1 button{
 color:#fff;
  font-size:10px;
 
  background:#9f17f6;
  border-radius:10px;
  padding:10% 20% 10% 20%;
}

.form-group{
  padding:27% 0% 27% 0%;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}


.heading{
  margin: 5% 0% 5% 0%; 
}
             .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}


@media (min-width:990px) and (max-width:1024px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  width: 100%;
  height:320px;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 0.5% 0% 0.5% 0%;
}
.box_2{
  margin:2% 0% -2% 0%
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-2% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:5.5% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:15% 0% 8% 0%;
}
.progress_button h4{
  font-size:14px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button button{
 color: #fff;
font-size: 12px;
background: #9f17f6;
border-radius: 10px;
padding: 10% 30% 10% 30%;
}
.progress_button_1{
  padding:5% 0% 5% 0%;
}
.progress_button_1 h4{
  font-size:14px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button_1 button{
 color: #fff;
font-size: 12px;
background: #9f17f6;
border-radius: 10px;
padding: 10% 30% 10% 30%;
}

.form-group{
  padding:95% 0% 95% 0%;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}


.heading{
  margin: 5% 0% 5% 0%; 
}
             .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}

@media (min-width:1920px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  width: 100%;
  height:320px;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
height: 250px;
float: left;
margin: 4.5% 0% 0.5% 0%;
}
.box_2{
  margin:2% 0% -1% 0%
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-1% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:7% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:15% 0% 8% 0%;
}
.progress_button h4{
  font-size:16px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button button{
 color: #fff;
font-size: 16px;
background: #9f17f6;
border-radius: 10px;
padding: 5% 20% 5% 20%;
}
.progress_button_1{
  padding:5% 0% 5% 0%;
}
.progress_button_1 h4{
  font-size:16px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button_1 button{
 color: #fff;
font-size: 16px;
background: #9f17f6;
border-radius: 10px;
padding: 5% 20% 5% 20%;
}

.form-group{
  padding:13% 0% 14% 0%;
  height:400px!important;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}


.heading{
  margin: 5% 0% 5% 0%; 
}
             .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}
             
@media (min-width:3840px) {

.header{
  width: 100%;
  border-top: 3px solid #ccc;
border-left: 3px solid #ccc;
border-right: 3px solid #ccc;
}
.header img{
  width:60%;
}
.header1{
  width: 100%;
  height:auto;
  float: left;
  background-color:#eaeaea!important;
  border: 3px solid #ccc;

}
.box_1{
  margin:10% 0% 1% 0%;
  width: 100%;
  height:450px;
  border-radius: 50px;
  background: #fff;
 
}
.box_1 img{
width:100%;
height: 350px;
margin-top: 1% 0% 0% 0%;
}
.box_2{
  margin:2% 0% -2% 0%
  height: auto;
  border-radius: 50px;
  background: #fff;
 
}
.box_3{
  margin:-2% 0% 2% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}

.box_4{
  margin:6% 0% 1% 0%;
  height: auto;
  border-radius: 50px;
  background: #fff;
  
}
.user{
background: #9f17f6;
color: #fff;
padding: 1% 1% 1% 1%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -3% 0% -3% 0%;
}
.user_1{
background:  #00bfe1;
color: #fff;
padding: 1% 1.5% 1% 1.5%;
font-size: 16px;
width: 100%;
box-shadow: 1px 1px 1px 1px grey;
margin: -5% 0% -5% 0%;
}
.progress_button{
  padding:15% 0% 8% 0%;
}
.progress_button h4{
  font-size:16px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button button{
 font-size: 16px;
background: #9f17f6;
border-radius: 10px;
padding: 5% 15% 5% 15%;
}
.progress_button_1{
  padding:5% 0% 5% 0%;
}
.progress_button_1 h4{
  font-size:16px;
  font-family: arial;
text-align: center;
  color: grey;
 
}
.progress_button_1 button{
font-size: 16px;
background: #9f17f6;
border-radius: 10px;
padding: 5% 15% 5% 15%;
}

.form-group{
  padding:27% 0% 27% 0%;
  
}
 .form-group h4{
  font-size: 14px;
  font-family: arial;
  font-weight: 600;
}
 .form-group button{
  color:#fff;
  font-size:16px;
  font-weight:600;
  background:#9f17f6;
  border-radius:10px;
  padding:2% 15% 2% 15%;
}


.heading{
  margin: 5% 0% 5% 0%; 
}
             .heading h3{
padding: 2% 0% 0% 0%;
color: grey;
font-size: 24px;
font-weight: 600;
text-align: center;
}
}